.repo-list {
  width: 100%;
  max-width: 1024px;
  margin: 20px auto;
}

.repo-list__display {
  background: #f2f2f2;
  border-radius: 5px;
  padding: 0 10px;
}

.repo-list__display__action {
  border: 0;
  border-radius: 0;
  padding: 10px;
}

.repo-list__display__action.is-active {
  background: #ddd;
}
